<div class="container">
  <div class="card">
    <div class="card-header bg-primary" jhiTranslate="home.title">Bienvenue sur EgoFoot!</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-9 d-flex flex-column">
          @if (account !== null && account) {
            <p jhiTranslate="home.user.connected" [translateValues]="{ username: account.login }">
              C'est un plaisir de vous revoir, {{ account.login }}
            </p>
          } @else {
            <p jhiTranslate="home.presentation"></p>
            <div class="mt-auto text-center">
              <a class="btn btn-primary" (click)="login()" jhiTranslate="global.messages.info.authenticated.link"> sign in </a>
              <a class="btn btn-secondary ms-2" routerLink="/account/register" jhiTranslate="global.messages.info.register.link"
                >Register a new account</a
              >
            </div>
          }
        </div>
        <div class="d-none d-md-block col-md-3">
          <img src="content/images/home-img.jpg" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
